@model UserCreateModel 
@{ 
    Layout = "_Layout";
}
<div class="mt-4">
    <form asp-action="SignUp" asp-controller="Account" method="post" class="p-4 w-75 mx-auto">
        <div class="mb-3">
            <label>Adınız :</label>
            <input asp-for="@Model.Firstname" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Soyadınız :</label>
            <input asp-for="@Model.Surname" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Kullanıcı Adınız :</label>
            <input asp-for="@Model.Username" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Telefon Numaranız :</label>
            <input asp-for="@Model.PhoneNumber" class="form-control" />
        </div>

        <div class="mb-3">
            <select class="form-select" asp-items="@Model.Genders" asp-for="@Model.GenderId">
                <option value="0">Bir cinsiyet seçiniz.</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Şifreniz :</label>
            <input type="password" asp-for="@Model.Password" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Şifreniz Tekrar :</label>
            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
        </div>

        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </div>

        <div class="text-danger" asp-validation-summary="All">

        </div>
    </form>
</div>